<h1>Home#catalog</h1>
<p>Find me in app/views/home/catalog.html.erb</p>

<button type="button"><a href="/home/search">SEARCH</a></button>
<% @product.each do |product| %>
  <h4><%= link_to product.name, "/home/course_details?id=#{product.course_id}&site=#{product.course_site}" %> in <%= product.course_site %></h4>
<% end %>
<hr />
<%= paginate @product %>
<%= page_entries_info @product %>

